<section class="seed-section" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <div class="section-heading mb-4">
          <!-- Subheading -->
          <p class="col-md-11 col-lg-11 alumni-description">
            Sharing Our Journey, <br />
            Enriching Your <span>Experience</span>
          </p>
        </div>
      </div>
      <!-- / .row -->

      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 p-0">
          <div class="blog-box m-2">
            <div class="blog-img-box">
              <img
                src="images/blog/html-video-thumbnail.jpg"
                alt=""
                class="img-fluid blog-img"
              />
            </div>
            <div class="single-blog">
              <div class="blog-content">
                <h6>7 Feb 2021</h6>
                <a href="#!">
                  <h3 class="card-title">
                    Complete HTML Course Beginners to Advanced
                  </h3>
                </a>
                <p>
                  Learn HTML with a step-by-step process, including projects and
                  sources provided in the lectures. Each topic will begin with a
                  brief introduction to the previous lecture.
                </p>
                <a
                  target="_blank"
                  style="margin-top: auto"
                  href="https://www.youtube.com/watch?v=-p9X4tOQsSs&t=26s&ab_channel=ehtishamdot"
                  class="link d-flex align-items-center"
                  >Read More&nbsp;&nbsp;<img
                    src="../../images/icon/right-arrow.svg"
                    alt="arrow"
                /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 p-0">
          <div class="blog-box m-2">
            <div class="blog-img-box">
              <img
                src="images/blog/programming-career.jpg"
                alt=""
                class="img-fluid blog-img"
              />
            </div>
            <div class="single-blog">
              <div class="blog-content">
                <h6>14 Jan 2021</h6>
                <a href="#!">
                  <h3 class="card-title">
                    "The only way to learn programming..." by George Hotz
                  </h3>
                </a>
                <p>
                  "The only way to learn programming is by immersing yourself in
                  hands-on projects," stated George Hotz.
                </p>
                <a
                  target="_blank"
                  style="margin-top: auto"
                  href="https://www.youtube.com/watch?v=kL2Q2ctCJys&ab_channel=ehtishamdot"
                  class="link d-flex align-items-center"
                  >Read More&nbsp;&nbsp;<img
                    src="../../images/icon/right-arrow.svg"
                    alt="arrow"
                /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 p-0">
          <div class="blog-box m-2">
            <div class="blog-img-box">
              <img
                src="images/blog/visual-studio-faster.jpg"
                alt=""
                class="img-fluid blog-img"
              />
            </div>
            <div class="single-blog">
              <div class="blog-content">
                <h6>6 DEC 2020</h6>
                <a href="#!">
                  <h3 class="card-title">MAKE VISUAL STUDIO FASTER</h3>
                </a>
                <p>
                  Improve Visual Studio's performance with these optimization
                  tips. For a detailed description, explore the techniques to
                  boost its speed and efficiency.
                </p>
                <a
                  target="_blank"
                  style="margin-top: auto"
                  href="https://www.youtube.com/watch?v=D2_haCjrarE&ab_channel=ehtishamdot"
                  class="link d-flex align-items-center"
                  >Read More&nbsp;&nbsp;<img
                    src="../../images/icon/right-arrow.svg"
                    alt="arrow"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>