<section class="seed-section map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div>
        <p class="earn-trust mb-5 text-center m-auto text-white">
            Connecting with <span>Clients</span> Across Continents
        </p>
        <div class="map-wrapper d-block m-auto">
          <div class="map-image">
            <img alt="map" src="../../images/map/map.png" class="img-fluid">
          </div>
          <div class="map-icons usa">
          </div>
          <div class="map-icons france">
          </div>
          <div class="map-icons columbia">
          </div>
          <div class="map-icons saudia">
          </div>
          <div class="map-icons pakistan">
          </div>
          <div class="map-icons sa">
          </div>
          <div class="map-icons japan">
          </div>
          <div class="map-icons aus">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
    