<!-- SERVICE-1
    ================================================== -->
<!-- <section class="bg-grey intro-bg-image-bottom" id="service"> -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-4">
                <div class="service-img">
                    <img src="images/blog-lg.png" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-7 pl-4">
                <div class="service-content">
                    <h1>Maximize Savings with <span>Enhanced</span> IT Services & Technology</h1>
                    <p>We compare hundreds of leading products and plans across many categories to bring you the best
                        value for money.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 service-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-4">
                <div class="carousel slide " id="service-carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-reload"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>MLOps</h4>
                                                <p>Empowering your organization with cutting-edge Machine Learning
                                                    practices.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-cloud"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>DevOps</h4>
                                                <p>Elevating software releases with expert DevOps, enhancing speed,
                                                    reliability, and minimizing downtime.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-world"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Web Development </h4>
                                                <p>Crafting Full-stack Web Applications, Your Vision, Our Expertise.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-server"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Design Consultancy</h4>
                                                <p>Tailor-made Solutions with a User-centered Approach for Your Business
                                                    Needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 gap-2">
                        <p class="pl-3 contact-para">Want to know more about this? <a class="primary-btn ml-2" href="/contact.html">Contact
                                us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>