<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->

<!-- NAVBAR
    ================================================= -->
<nav
  class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable position-md-sticky"
>
  <div class="seed-container">
    <div class="d-flex justify-content-between">
      <div class="brand">
        <a class="d-block" href="index.html">
          <img
            class="logo"
            style="height: 3rem"
            src="../../images/icon/logo.png"
            alt="seedinov logo"
          />
        </a>
      </div>
      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span>
      </button>
  
      <!-- Collapse -->
      <!-- / .navbar-collapse -->
      <div class="d-none d-lg-block">
        <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
          <!-- Links -->
          <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
              <a href="project.html" class="nav-link js-scroll-trigger">
                Portfolio
              </a>
            </li>
            <li class="primary-btn">
              <a href="contact.html" class="nav-link js-scroll-trigger">
                Contact Us
              </a>
            </li>
    
            <!-- <li class="nav-item ">
              <a href="contact.html" class="nav-link">
                Contact
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="d-block d-lg-none">
      <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
        <!-- Links -->
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item">
            <a href="project.html" class="nav-link js-scroll-trigger">
              Portfolio
            </a>
          </li>
          <li class="primary-btn">
            <a href="contact.html" class="nav-link js-scroll-trigger">
              Contact Us
            </a>
          </li>
  
          <!-- <li class="nav-item ">
            <a href="contact.html" class="nav-link">
              Contact
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <!-- / .container -->
</nav>
