<section class="section seed-section" id="process">
    <div class="container" id="companies-container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-9 text-center m-30">
                <div class="section-heading mb-2">
                    <!-- Subheading -->
                    <p class="earn-trust mb-5">
                        We earn <span>Trust</span> by committing to provide value and consistently delivering on that
                        promise
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-sm-3 col-6 ">
                <div class="process-block">
                    <img src="../../images/companies/School Logo.svg" alt="" class="img-fluid" width="auto" height="auto">
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-6 offset-md-0 offset-sm-1 offset-0">
                <div class="process-block">
                    <img src="../../images/companies/Luvvi.png" alt="" class="img-fluid"  width="auto" height="auto">
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-6 offset-md-0 offset-sm-1 offset-0">
                <div class="process-block">
                    <img src="../../images/companies/BW.png" alt="" class="img-fluid"  width="auto" height="auto">
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-6">
                <div class="process-block">
                    <img src="../../images/companies/Tribify.png" alt="" class="img-fluid"  width="auto" height="auto">
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-6 offset-md-0 offset-sm-1 offset-0 ">
                <div class="process-block">
                    <img src="../../images/companies/Logo bird 1.png" alt="" class="img-fluid"  width="auto" height="auto">
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-6 offset-md-0 offset-sm-1 offset-0 ">
                <div class="process-block">
                    <img src="../../images/companies/Pod cut.png" alt="" class="img-fluid"  width="auto" height="auto">
                </div>
            </div>
            </div>
</section>