<section class="section" id="services-2">
  <div class="container">
    <div class="service-container">
      <div
        class="d-flex justify-content-center align-items-center flex-column"
        style="max-width: 700px; margin: 0 auto"
      >
        <!-- Heading -->
        <h2 class="section-title mb-2 text-center" id="service-heading">
          From Concept to Reality With <span>SeedInov:</span> Scalable Digital
          Transformation
        </h2>
        <!-- Subheading -->
        <p class="mb-5 text-center" id="service-subheading">
          Seed Innov is an AI-powered software company and IT consultancy with a
          global presence, We specialize in delivering end-to-end, custom-built
          solutions, covering Product Design & Development and Artificial
          Intelligence solutions.
        </p>
      </div>
      <!-- / .row -->

      <div class="service-blocks">
        <div class="web-service-block">
          <!-- <i class="ti-light-bulb"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/chatgpt.svg"
              width="auto"
              height="auto"
              alt="Chat Bots Service"
            />
          </div>
          <h3>Chat Bots</h3>
          <p>
            Engage customers effortlessly with Seedinov's Chat Bot solutions.
            We've designed them to simplify customer interactions, streamline
            support, and enhance overall satisfaction.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>

        <div class="web-service-block">
          <!-- <i class="ti-announcement"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/gen-ai.svg"
              width="auto"
              height="auto"
              alt="Custom Ai Solutions"
            />
          </div>
          <h3>Custom AI Solutions</h3>
          <p>
            Unlock the potential of your business with Seedinov's Custom AI
            Solutions. Our tailored applications optimize your processes,
            analyze data effectively, and empower intelligent decision-making
            for enhanced business performance.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>
        <div class="web-service-block">
          <!-- <i class="ti-settings"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/cloud-service 1.svg"
              width="auto"
              height="auto"
              alt="Saas Icon"
            />
          </div>
          <h3>SaaS (Software as a Service)</h3>
          <p>
            Take your business to new heights with Seedinov's SaaS applications.
            Our cloud-based solutions offer user-friendly experiences,
            scalability to meet your needs, and a competitive edge in the
            digital landscape.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              alt="arrow Icon"
              width="auto"
              height="auto"
          /></a>
        </div>
        <div class="web-service-block">
          <!-- <i class="ti-layers-alt"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/ux-design.svg"
              width="auto"
              height="auto"
              alt="UI UX icon"
            />
          </div>
          <h3>Automation Services</h3>
          <p>
            Simplify and boost efficiency with Seedinov's Automation Services.
            Our solutions make tasks faster and better, allowing you to focus on
            core aspects of your business.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>
        <div class="web-service-block">
          <!-- <i class="ti-desktop"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/bespoke-ai.svg"
              width="auto"
              height="auto"
              alt="Web Dev Icon"
            />
          </div>
          <h3>Product Design</h3>
          <p>
            Elevate your brand with Seedinov's Product Design expertise. Our
            talented team transforms your vision into visually captivating
            products, ensuring a positive impact on your audience.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>
        <div class="web-service-block">
          <!-- <i class="ti-mobile"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/web-dev.svg"
              width="auto"
              height="auto"
              alt="Development Hub Icon"
            />
          </div>
          <h3>Development Hub</h3>
          <p>
            Seedinov's Integrated Development Solutions: Innovate effortlessly
            with our user-centric approach, combining web and app development
            for a comprehensive digital experience. Enhance brand recognition
            through our efficient development process.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>
        <div class="web-service-block">
          <!-- <i class="ti-mobile"></i> -->
          <div class="image-container">
            <img
              src="../../images/service/web-dev.svg"
              width="auto"
              height="auto"
              alt="Development Hub Icon"
            />
          </div>
          <h3>Rapid MVP Development</h3>
          <p>
            Seedinov's Integrated Development Solutions: Innovate effortlessly
            with our user-centric approach, combining web and app development
            for a comprehensive digital experience. Enhance brand recognition
            through our efficient development process.
          </p>
          <a
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="top"
            title="Coming Soon"
            href="#!"
            >Learn More&nbsp;
            <img
              src="../../images/icon/right-arrow.svg"
              width="auto"
              height="auto"
              alt="arrow icon"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
