<section class="bg-home">
  <div class="seed-container">
    <div class="row">
      <!-- <div class="col-lg-12"> -->
        <div class="slick-carousel mb-0">
          <div class="carousel-cont">
            <div class="slider-container">
              <div class="slider-typo">
                <div>
                  <h1 class="display-4 mb-4 font-weight-bold text-white">
                    Innovation Cultivated,<br />
                    <span class="text-primary">Seeds</span> Grown.
                  </h1>
                  <h4 class="text-white font-weight-500 mb-4">
                    Nurturing Innovation, Growing Ideas into Thriving Ventures.
                  </h4>
                </div>
              </div>
              <div class="img-cont">
                <img
                  src="images/banner/seedinov-banner-1.svg"
                  id="plantImg"
                  alt="banner-img"
                  width="auto"
                  height="auto"
                  class="slider-img"
                />
              </div>
            </div>
          </div>
          <div class="carousel-cont">
            <div class="slider-container">
              <div class="slider-typo">
                <div>
                  <h1 class="display-4 mb-4 font-weight-bold text-white">
                    <span class="text-primary">AI</span> Advancements<br />
                    Nurtured
                  </h1>
                  <h4 class="text-white font-weight-500 mb-4">
                    From Concepts to Breakthroughs.
                  </h4>
                </div>
              </div>
              <div class="img-cont">
                <img
                  src="images/banner/seedinov-banner-2.svg"
                  alt="banner-img"
                  width="auto"
                  height="auto"
                  class="slider-img"
                />
              </div>
            </div>
          </div>
          <div class="carousel-cont">
            <div class="slider-container">
              <div class="slider-typo">
                <div>
                  <h1 class="display-4 mb-4 font-weight-bold text-white">
                    Unleashing
                    <span class="text-primary">GPT's</span> Magic:<br />
                    Fueling <span class="text-primary">AI</span> Progress
                  </h1>
                  <h4 class="text-white font-weight-500 mb-4">
                    Nurturing GPT's AI Breakthroughs, Transforming Tomorrow.
                  </h4>
                </div>
              </div>
              <div class="img-cont">
                <img
                  src="images/banner/seedinov-banner-3.svg"
                  alt="banner-img"
                  width="auto"
                  height="auto"
                  class="slider-img"
                />
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
