<div class="seed-stats seed-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div>
            <h2 class="default-section-heading text-lg-left text-center" id="service-heading">Upholding Our Commitment </br>to <span>Excellence</span></h2>
            <p class="default-text-para text-lg-left text-center">
                Empowering growth and success for all stakeholders through our unique
                approach to delivering exceptional experiences. Join us as we ascend
                to new heights through the transformative power of digital innovation.
            </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row justify-content-center mt-lg-0 mt-2">
            <div class="col-lg-5 col-md-3 col-sm-6 col-6">
                <div class="stats-count text-center">
                    <h2 class="count">100+</h2>
                    <p>Served Clients Across the Globe</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-6 col-6">
                <div class="stats-count text-center">
                    <h2 class="count">10+</h2>
                    <p>Team Members and Advisors</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-6 col-6">
                <div class="stats-count text-center">
                    <h2 class="count">10+</h2>
                    <p>Projects Built and Deployed</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-6 col-6">
                <div class="stats-count text-center">
                    <h2 class="count">4+</h2>
                    <p>Years of Excellence</p>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
