<section class="seed-section technology-stack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div>
          <p class="alumni-description text-center m-auto mx-100">
            We Engage with an Extensive Spectrum of <span>Technologies</span>
          </p>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-end technology-arrow">
        <div>
            <button class="technology-prev slider-prev">
              <img src="../../images/arrow.png" width="40px" height="20px" />
            </button>
            <button class="technology-next slider-next">
              <img src="../../images/arrow.png" width="40px" height="20px"/>
            </button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="technology-slider">
          <div class="element element-1">
            <div class="technology-slide">
              <div
                class="technology-box d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <img
                  src="../../images/technology/js.png"
                  alt="js"
                  width="60px"
                  height="60px"
                />
                <p class="alumni-description">JavaScript</p>
              </div>
            </div>
          </div>
          <div class="element element-2">
            <div class="technology-slide">
              <div
                class="technology-box d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <img
                  src="../../images/technology/ts.png"
                  alt="js"
                  width="60px"
                  height="60px"/>
               <p class="alumni-description">TypeScript</p>
              </div>
            </div>
          </div>
          <div class="element element-3">
            <div class="technology-slide">
              <div
                class="technology-box d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <img
                  src="../../images/technology/py.png"
                  alt="js"
                  width="60px"
                  height="60px"
                />
                <p class="alumni-description">Python</p>
              </div>
            </div>
          </div>
          <div class="element element-4">
            <div class="technology-slide">
              <div
                class="technology-box d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <img
                  src="../../images/technology/tf.png"
                  alt="js"
                  width="60px"
                  height="60px"
                />
                <p class="alumni-description">TensorFLow</p>
              </div>
            </div>
          </div>
          <div class="element element-5">
            <div class="technology-slide">
              <div
                class="technology-box d-flex flex-column justify-content-center align-items-center gap-3"
              >
                <img
                  src="../../images/technology/figma.png"
                  alt="js"
                  width="60px"
                  height="60px"
                />
                <p class="alumni-description">Figma</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
