<section class="workflow seed-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <section class="workflow-header">
                    <h6 class="text-center" style="max-width: 436px; line-height: 1.5;">
                        Optimizing <span>Processes</span>, Enhancing Efficiency Our Workflow Solutions
                    </h6>
                </section>
            </div>
        </div>
    </div>
    <div class="workFlow-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2 d-flex justify-content-center">
                    <img src="../../images/workFlow/horizontalLine.svg"  width="auto" height="auto" class="workflowCenterStick" height="100%"
                        alt="">
                </div>
                <div class="allCards">
                    <div class="completeCard">
                        <div class="workflowCard text-right">
                            <h3>Consultation</h3>
                            <div class="workflowContainer">
                                <p>
                                    We conduct collaborative session with you to fine-tune your pristine idea.
                                </p>
                            </div>
                        </div>
                        <div class="imageContainer">
                            <img src="../../images/workFlow/consultation.svg" width="100%" alt="">
                        </div>
                    </div>
                    <div class="evencompleteCard">
                        <div class="imageContainer">
                            <img src="../../images/workFlow/brainstorming.svg" width="100%" alt="">
                        </div>
                        <div class="workflowCard text-right">
                            <h3>Brainstorming
                            </h3>
                            <div class="workflowContainer">
                                <p>
                                    We do a quick brainstorming session to understand the project idea & budget to give
                                    what you exactly wants.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="completeCard">
                        <div class="workflowCard text-right">
                            <h3>Planning & Design</h3>
                            <div class="workflowContainer">
                                <p>
                                    We perform a comprehensive analysis and design system architecture and interface
                                </p>
                            </div>
                        </div>
                        <div class="imageContainer">
                            <img src="../../images/workFlow/planning.svg" width="100%" alt="">
                        </div>
                    </div>
                    <div class="evencompleteCard">
                        <div class="imageContainer">
                            <img src="../../images/workFlow/deployment.svg" width="100%" alt="">
                        </div>
                        <div class="workflowCard text-right">
                            <h3>Deployment & Testing</h3>
                            <div class="workflowContainer">
                                <p>
                                    We deploy the product of your dream and test it until it is squeaky-clean.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="completeCard">
                        <div class="workflowCard text-right">
                            <h3>Releasing Minimal Viable Product MVP</h3>
                            <div class="workflowContainer">
                                <p>
                                    We apply the best approach using the latest tools and tech to deliver a fully
                                    featured MVP.
                                </p>
                            </div>
                        </div>
                        <div class="imageContainer">
                            <img src="../../images/workFlow/mvp.svg" width="100%" alt="">
                            </div>
                            </div>
                            <div class="evencompleteCard">
                                <div class="imageContainer">
                                    <img src="../../images/workFlow/hand-over-rights.svg" width="100%" alt="">
                                </div>
                                <div class="workflowCard text-right">
                                    <h3>Handle Over The Exclusive Rights</h3>
                                    <div class="workflowContainer">
                                        <p>
                                            We transfer the full internet protocol along with exclusive rights of your product
                                        </p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>